/* General Styles */
/* Ensure clicked links do not change color */
a:link,
a:visited {
    color: #345ea0; /* Keep the same color as the parent element */
    text-decoration: none; /* Maintain consistent styling */
}

body {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    background: white;
    margin: 0;
    padding: 0;
	width: 100%;
    line-height: 1.5;
	font-size:1em
}

table#tlayout, table {
    border-collapse: collapse;
    background: white;
    line-height: 1.5;
}

td {
    padding: 2px 0.5em;
    text-align: left;
    border: none;
}

/* Navigation Menu */
#layout-menu {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background: #4863A0;
    padding: 12px; /* Remove padding-right */
	padding-left: 10%;
    display: flex;
    justify-content: flex-start;
    font-size: 150%;
}


#layout-menu a {
	margin-left: 0%;
	margin-right: 2.5%;
    color: white;
    text-decoration: none;
    text-align: center;
}

#layout-menu a.current {
    color: #022b6d;
    border-bottom: 2px solid gray;
}

#layout-menu a:hover {
    text-decoration: none;
}

/* Layout Content */
#layout-content, #layout-blog-content {
    background: white;
    text-align: left;
    vertical-align: top;
    line-height: 1.5;
    padding: 6em 10%;
}

#layout-blog-content {
    padding: 50px 100px 50px 200px;
}

/* Sidebar */
div.sidebar {
    margin: 40px 0 0 0;
    font-size: 100%;
}

div.sidebar ul {
    margin-left: 0;
}

div.sidebar h2 {
    margin: 0;
    border-bottom: none;
}

/* Headings */
h1, h2, h3 {
    color: #4863A0;
    margin: 0.7em 0 0.3em;
    padding-bottom: 0.2em;
    line-height: 1.5;
    border-bottom: 1px solid #aaa;
}

h1 {
    font-size: 165%;
}

h2 {
    font-size: 125%;
    padding-top: 0.8em;
}

h3 {
    font-size: 110%;
    border-bottom: none;
}

h2 + h3 {
    padding-top: 0.2em;
}

#layout-content h1:first-child, #layout-content h2:first-child, #layout-content h3:first-child {
    margin-top: -0.7em;
}

/* Text Elements */
p {
    margin: 0 0 0.8em;
    padding: 0;
	font-size: 100%;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

ul, ol {
    list-style-position: outside;
    line-height: 1.75;
    margin: 0.2em 0 0.8em;
}

/* Footer */
footer {
    font-size: small;
    border-top: 1px solid #8e959a;
    padding-top: 0.1em;
    margin-top: 4em;
    text-align: center;
    color: #8e959a;
}

#footer a {
    color: #80a0b0;
}

/* Code Blocks */
div.codeblock, div.infoblock {
    margin: 1.2em 0 1.3em;
}

div.blocktitle {
    font-weight: bold;
    color: #cd7b62;
    margin: 1.2em 0 0.1em;
}

div.blockcontent {
    border: 1px solid silver;
    padding: 0.3em 0.5em;
    background: #f6f6f6;
}

/* Social Media Navbar */
.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: #4863A0;
    font-size: 1.3em;
}