---
layout: blog
title: Tags
permalink: /blog-tags/
---

<h1> Tags </h1>
    {% for tag in site.tags %}
    <a href="#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}::</a>
    {% endfor %}
	
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {% for tag in site.tags %}
    <hr>
    <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
	  <ul>
      {% for post in tag[1] %}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </span>
      </li>
      {% endfor %}
	  </ul>
    {% endfor %}
