---
layout: default
title: Categories
---
    {% for tag in site.categories %}
    <a href="#{{ tag[0] | slugify }}" class="post-tag"> {{ tag[0] }} | </a>
	{% endfor %}	
  
  
    {% for tag in site.categories %}
    <h2>{{ tag[0] }}</h2>
    <ul class="tags-expo-posts">
      {% for post in tag[1] %}
	  <li>      
	  <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">      
        {{ post.title }}
	  </a>
      <small class="post-date">{{ post.date | date_to_string }}</small>    
      </li>	  
      {% endfor %}
    </ul>
    {% endfor %}