<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">Copyright 2014--{{ site.time  | date: '%Y'}} {{ site.author.name | escape }}</li>
          {% endif -%}
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <p> Site last updated on {{ site.time  | date: '%B %d, %Y'}}
        </p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>
