<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-center">
      {%- if site.author %}
          {% if site.author.name -%}
            <p class="footer-info">Copyright 2014--{{ site.time  | date: '%Y'}} {{ site.author.name | escape }} | Site last updated on {{ site.time  | date: '%B %d, %Y'}}</p>
          {% endif -%}
      {%- endif %}
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>
