<div id="layout-menu">
<div class="menu-category">Yu Jiang</div>
<div class="menu-item"><a href="index.html">Home</a></div>
<div class="menu-item"><a href="#resume-awards">Awards</a></div>
<div class="menu-item"><a href="#publications">Publications</a></div>
<!--
<div class="menu-category">Publications</div>
<div class="menu-item"><a href="#publications-patent">Patent</a></div> */
<div class="menu-item"><a href="#publications-book">Book Chapter</a></div>
<div class="menu-item"><a href="#publications-journal">Journal</a></div>
<div class="menu-item"><a href="#publications-conf">Conference</a></div>
<div class="menu-item"><a href="#publications-thesis">Dissertation</a></div>
<div class="menu-category">Blogs</div>
<div class="menu-item"><a href="#">News</a></div>
<div class="menu-item"><a href="#">Notes</a></div>
-->
</div>  