<div id="layout-menu">
<div class="menu-category"><a href="{{site.url}}/index.html">Home</a></div>
<div class="menu-category"><a href="{{site.url}}/index.html#publications"   >Publications</a></div>
<div class="menu-category"><a href="{{site.url}}/radpbook/">RADP Book</a></div>
<div class="menu-category"><a href="{{site.url}}/notes/">Posts</a></div>
<!--<div class="menu-category"><a href="{{site.url}}/index.html#publications"   >Publications</a></div>
<div class="menu-item"><a href="{{site.url}}/index.html#resume-awards"   >Awards</a></div>
<div class="menu-item"><a href="{{site.url}}/index.html#publications-patent"  >Patent</a></div>
<div class="menu-item"><a href="{{site.url}}/index.html#publications-book"  >Book Chapter</a></div>
<div class="menu-item"><a href="{{site.url}}/index.html#publications-journal"  >Journal</a></div>
<div class="menu-item"><a href="{{site.url}}/index.html#publications-conf"  >Conference</a></div>
<div class="menu-item"><a href="{{site.url}}/index.html#publications-thesis"  >Dissertation</a></div>
<div class="menu-category"><a href="{{site.url}}/notes.html"  >Posts</a></div>

<div class="menu-category"><a href="{{site.url}}/news.html" >Updates</a></div>

<div class="menu-item"><a href="{{site.url}}#">MATLAB</a></div>
<div class="menu-category">Publications</div>
<div class="menu-item"><a href="#publications-patent">Patent</a></div> */
<div class="menu-item"><a href="#publications-book">Book Chapter</a></div>
<div class="menu-item"><a href="#publications-journal">Journal</a></div>
<div class="menu-item"><a href="#publications-conf">Conference</a></div>
<div class="menu-item"><a href="#publications-thesis">Dissertation</a></div>
<div class="menu-category">Blogs</div>
<div class="menu-item"><a href="#">News</a></div>
<div class="menu-item"><a href="#">Notes</a></div>
-->
</div>
