<table class="imgtable"><tr><td>
<img src="YuJiangProfile.jpg" alt="Portrait of Yu Jiang" width="240px" height="270px" />&nbsp;</td>
<td align="left"><h1>Yu Jiang 姜宇</h1><br/>
PhD in Electrical Engineering<br />
Email: yu.jiang@nyu.edu<br />
Profies: 
<a href="http://www.linkedin.com/in/yujiang26">Linkedin</a>,
<a href="https://www.facebook.com/yu.jiang.26">Facebook</a>,
<a href="http://scholar.google.com/citations?user=QYanTRsAAAAJ">Google Scholar</a>, 
<br/>
<a href="http://www.mathworks.com/matlabcentral/profile/authors/5012545-yu">MATLAB Central</a>,
<a href="https://github.com/yu-jiang/">GitHub</a>,
<a href="https://www.zhihu.com/people/yujiangnyu">Zhihu 知乎</a>
</td></tr></table>
Welcome to my personal webpage. I am a control theorist and a software engineer.