<h1>About Me</h1>
<p>Hello. My name is Yu Jiang. I am currently a Software Developer of Simulink
Control Design at MathWorks.</p>

<p>
Prior to joining the company, I lived in the New York City for five years and
obtained a PhD degree in Electrical Engineering from New York University in May 2014.
During my PhD, I made some contributions to Adaptive Dynamic Programming (ADP)
for nonlinear control design. The bulk of my research work has been
included in the book "Robust Adaptive Dynamic Programming", written by me and my
PhD Thesis advisor.
</p>

<p>
I have broad interests in numerical methods in differential equaitons,
controls, and optimizaiton. I am also developing my hobby in robotics. Please feel
free to reach out to me if you are interested in any part of my research work.
</p>

<h1>Contact</h1>
<ul>
<li> Follow me on:
<a href="http://www.linkedin.com/in/yujiang26">Linkedin</a>,
<a href="https://www.facebook.com/yu.jiang.26">Facebook</a>,
<a href="http://scholar.google.com/citations?user=QYanTRsAAAAJ">Google Scholar</a>,
<a href="http://www.mathworks.com/matlabcentral/profile/authors/5012545-yu">MATLAB Central</a>,
<a href="https://github.com/yu-jiang/">GitHub</a>,
<a href="https://www.zhihu.com/people/yujiangnyu">Zhihu 知乎</a>
</li>
<li>
Email: yu.jiang@nyu.edu
</li>
</ul>

<p><a name = "resume-awards"></a></p>
<h1>Awards</h1>
<ul>
<li><p>Excellent Reviewer, for the Journal of Guidance, Control, and Dynamics (JGCD), between Oct. 1, 2015 – Sept. 30, 2016.
</p></li>
<li><p>Alexander Hessel Award, for the Best Ph.D. Dissertation in Electrical Engineering, ECE Dept at NYU, 2015</p></li>
<li><p>Shimemura Young Author Prize, at the 9th Asian Control Conference, Istanbul, Turkey, June 2013</p></li>
<li><p>Richard Rosenthal Award, for the outstanding performance on the electrical engineering PhD Qualifying Examination, ECE Dept at NYU, 2010 (Awarded to the Top 1 candidate)</p></li>
<li><p>Huawei Scholarship for outstanding students, South China University of Technology, 2008</p></li>
<li><p>National First Place, in the Chinese Graduate Mathematical Contest in Modeling, 2007</p></li>
<li><p>National First Place, in the Chinese Undergraduate Mathematical Contest in Modeling, 2005</p></li>
</ul>

<h1>Experiences</h1>

<ul>
<li><p>Controls Systems Engineer, <a href="http://www.mathworks.com">The MathWorks, Inc.</a>, Natick, MA, July 2015 - present</p></li>
<li><p>Application Support Engineer, <a href="http://www.mathworks.com">The MathWorks, Inc.</a>, Natick, MA, June 2014 - July 2015</p></li>
<li><p>Research Intern, <a href="http://www.merl.com">Mitsubishi Electric Research Labs (MERL)</a>, Cambridge, MA, June 2013 - August 2013</p></li>
</ul>

<h1>Education</h1>

<ul>
<li><p>Ph.D., Electrical Engineering, <a href="http://www.nyu.edu">New York University</a>, May 2014. (Advisor:<a href="http://engineering.nyu.edu/people/zhong-ping-jiang">Prof. Zhong-Ping Jiang</a>)</p></li>
<li><p>M.S., Automation Science and Engineering, <a href="http://www.scut.edu.cn/">South China University of Technology</a>, June 2009 (Advisor: <a href="http://www.mae.cuhk.edu.hk/%7Ejhuang/">Prof. Jie Huang</a>)</p></li>
<li><p>B.S., Mathematics and Applied Mathematics, <a href="http://www.sysu.edu.cn">Sun Yat-sen (Zhong-Shan University)</a>, June 2006</p></li>
</ul>
