<h1>Experiences</h1>

<ul>
<li><p>Controls Systems Engineer, <a href="http://www.mathworks.com">The MathWorks, Inc.</a>, Natick, MA, July 2015 - present</p></li>
<li><p>Application Support Engineer, <a href="http://www.mathworks.com">The MathWorks, Inc.</a>, Natick, MA, June 2014 - July 2015</p></li>
<li><p>Research Intern, <a href="http://www.merl.com">Mitsubishi Electric Research Labs (MERL)</a>, Cambridge, MA, June 2013 - August 2013</p></li>
</ul>

<h1>Education</h1>

<ul>
<li><p>Ph.D., Electrical Engineering, <a href="http://www.nyu.edu">New York University</a>, May 2014. (Advisor:<a href="http://engineering.nyu.edu/people/zhong-ping-jiang">Prof. Zhong-Ping Jiang</a>)</p></li>
<li><p>M.S., Automation Science and Engineering, <a href="http://www.scut.edu.cn/">South China University of Technology</a>, June 2009 (Advisor: <a href="http://www.mae.cuhk.edu.hk/%7Ejhuang/">Prof. Jie Huang</a>)</p></li>
<li><p>B.S., Mathematics and Applied Mathematics, <a href="http://www.sysu.edu.cn">Sun Yat-sen (Zhong-Shan University)</a>, June 2006</p></li>
</ul>

<p><a name = "resume-awards"></a></p>

<h1>Awards</h1>

<ul>
<li><p><strong>Alexander Hessel Award</strong>, for the Best Ph.D. Dissertation in Electrical Engineering, ECE Dept at NYU, 2015</p></li>
<li><p><strong>Shimemura Young Author Prize</strong>, at the 9th Asian Control Conference, Istanbul, Turkey, June 2013</p></li>
<li><p><strong>Richard Rosenthal Award</strong>, for the outstanding performance on the electrical engineering PhD Qualifying Examination, ECE Dept at NYU, 2010 (Awarded to the Top 1 candidate)</p></li>
<li><p><strong>Huawei Scholarship</strong> for outstanding students, South China University of Technology, 2008</p></li>
<li><p><strong>National First Place</strong>, in the Chinese Graduate Mathematical Contest in Modeling, 2007</p></li>
<li><p><strong>National First Place</strong>, in the Chinese Undergraduate Mathematical Contest in Modeling, 2005</p></li>
</ul>
