---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* sass --quiet-deps to suppress deprecation warnings */
@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize",
  "minima/custom-styles";
