---
layout: base
---

<style>
  /* Basic styling for layout */
  .container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
  }

  .column {
      flex: 1;
      padding: 10px;
      float: left;
  }

  /* Adjust styles as needed */
  .right-column img {
      max-width: 100%;
      height: auto;
      display: block;
  }
</style>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="container">
    <div class="column left-column">
        <h2> About Me<Menu></Menu> </h2>
        <p>Hello, there. I am Leo Jiang, a pianist. Welcome to my website.</p>
        <div class="social-links">
          {%- include social.html -%}
        </div>
    </div>
    <div class="column right-column">
        <img src="/images/yujiang2024.jpg" alt="Yu's Image">
    </div>
  </div><hr>

  <h2> Recent Activities </h2>
  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
